.tasksList {
  width: calc(100vw - 2em);
  max-width: 600px;
  word-break: break-word;
}

.task {
  background-color: #e8eaf6;
  border-radius: 4px;
  margin-bottom: 0.5em;
}

.completed {
  text-decoration: line-through;
}

.placeHolder {
  display: flex;
  justify-content: center;
  color: #696969;
}
